<% include ../partials/header %>
<div class="container">

        <h1 class="display-3">Detail </h1>
        <form action="/class" method="GET">
            <div class="form-group">
                <label for="">ID</label>
                <input readonly type="text" value="<%= detail.idg%>" class="form-control" name="" id=""
                    aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted">Help text</small>
            </div>
            <div class="form-group">
                <label for="">Name</label>
                <input readonly type="text" value="<%= detail.game_name%>" class="form-control" name="name" id=""
                    aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted">Help text</small>
            </div>
            <div class="form-group">
                <label for="">Price</label>
                <input readonly type="text" value="<%= detail.price%>" class="form-control" name="room" id="" aria-describedby="helpId"
                    placeholder="">
                <small id="helpId" class="form-text text-muted">Help text</small>
            </div>
            <div class="form-group">
                    <label for="">Type</label>
                    <input readonly type="text" value="<%= detail.type%>" class="form-control" name="room" id="" aria-describedby="helpId"
                        placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                </div>
            <button type="submit" class="btn btn-primary">Back</button>
        </form>
    </div>
<% include ../partials/footer %> 