<% include ../partials/header %>
<div class="container">
<div class="jumbotron">
    <h1 class="display-3">Chayut Auitakul 6030213032</h1>
    <p class="lead">Demo Web app with Express and MongoDB</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/class" role="button">Jumbo action name</a>
    </p>
</div>
</div>
<% include ../partials/footer %>